
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="container">
        <div class="row" ng-controller="SearchRoomController">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
                        <li>Tất cả sản phẩm</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="box-search-sidebar dqdt-sidebar">
                    <div class="title_st">
                        <h2>
                            <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                            Lọc theo
                        </h2>
                    </div>
                    <div class="box_search">
                        <div class="col-lg-12 margin-bottom-15">
                            <div class="layered layered-filter-price">
                                <search-control search-info="searchInfo" searchtype="'2'"></search-control>
                                <!-- filter price -->
                                <div class="layered_subtitle">Gía tiền</div>
                                <div class="layered-content slider-range">
                                    <rzslider rz-slider-model="sliderFrice.minValue" style="margin-top:0px"
                                              rz-slider-high="sliderFrice.maxValue"
                                              rz-slider-options="sliderFrice.options"></rzslider>
                                    <div class="amount-range-price">
                                        <label for="amount" style="font-weight:normal;">Khoảng giá:</label>
                                        <span id="amount_2" style="border:0;font-weight:normal;">{{sliderFrice.minValue}} triệu đến {{sliderFrice.maxValue}} triệu</span>
                                    </div>
                                </div>
                                <div class="layered_subtitle">Diện tích</div>
                                <div class="slider-range">
                                    <rzslider rz-slider-model="sliderAcreage.minValue" style="margin-top:0px"
                                              rz-slider-high="sliderAcreage.maxValue"
                                              rz-slider-options="sliderAcreage.options"></rzslider>
                                    <div class="amount-range-price">
                                        <label for="amount" style="font-weight:normal;">Diện tích:</label>
                                        <span id="amount_2" style="border:0;font-weight:normal;">{{sliderAcreage.minValue}} m<sup>2</sup> đến {{sliderAcreage.maxValue}} m<sup>2</sup></span>
                                    </div>
                                </div>

                                <div class="layered-content slider-range">
                                    <button class="btn btn-block btn-search-primary btn-border btn-border-thin" ng-click="fireLoadFilterEvent();" type="button"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <a id="open-filters" ng-click="showFilter();" class="open-filters hidden-lg hidden-md">
                    <i class="fa fa-filter"></i>
                    <span>Lọc</span>
                </a>
                <div class="clearfix"></div>
                <div class="sidebar-ads nopadding-xs hidden-xs hidden-sm margin-top-20" style="margin-top:20px;">
                    <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-xs-12" ng-controller="SearchResultController" block-ui="BlockUIRoom">
                <div class="bannercollection">
                    <img class="img-responsive" src="//bizweb.dktcdn.net/100/109/381/themes/161997/assets/img_collection.jpg?1492597369483" alt="Tất cả sản phẩm">
                </div>
                <div class="listing_filters_head">
                    <div class="sort-theme" href="#">
                        <i class="fa fa-sort-amount-asc hidden-sm" aria-hidden="true"></i>
                        <div class="sort-by">
                            <ul>
                                <li data-sort="id" class="" ng-click="DataSort('news')">Mới nhất</li>
                                <li data-sort="price-asc" ng-click="DataSort('pricemax')">Giá từ thấp đến cao</li>
                                <li data-sort="price-desc" ng-click="DataSort('pricemin')">Giá từ cao đến đến thấp</li>
                                <li data-sort="alpha-asc" ng-click="DataSort('az')">Tên A - Z</li>
                                <li data-sort="alpha-desc" ng-click="DataSort('za')">Tên Z - A</li>
                                <li data-sort="discount-asc" ng-click="DataSort('hot')">Bán chạy nhất</li>
                            </ul>
                        </div>
                    </div>
                    <div class="listing_filter_select listing_filter_views">
                        <div onclick="showGrid();" id="grid_view" class="icon_selected">
                            <i class="fa fa-th"></i>
                        </div>
                    </div>
                    <div class="listing_filter_select listing_filter_views">
                        <div onclick="showList();" id="list_view" class="">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
                <div class="box-room-list">
                    <div class="has_prop_slider  listing_wrapper col-md-4 col-lg-4 col-sm-6" ng-repeat="item in data.listRoom">
                        <div class="property_listing">
                            <div class="listing-unit-img-wrapper">
                                <div id="{{item.id}}" class="carousel property_unit_carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="prop_new_details">
                                        <div class="prop_new_details_back"></div>
                                        <div class="property_media">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{item.roomTypeName}}
                                        </div>
                                        <div class="property_location_image">
                                            <span class="property_marker"></span><a href="/chi-tiet-phong/{{item.alias}}-{{item.id}}" rel="tag">Đống đa</a>,
                                            <a href="/chi-tiet-phong/{{item.alias}}-{{item.id}}" rel="tag">{{item.provinceName}}</a>
                                        </div>
                                        <div class="figType">{{item.price |number}} Đ/tháng</div>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="/chi-tiet-phong/{{item.alias}}-{{item.id}}"><img width="525" height="328" ng-src="{{baseUrl}}/{{item.thumbnailImage}}" class="lazyload img-responsive wp-post-image" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 title="{{item.roomName}}"><a href="/chi-tiet-phong/{{item.alias}}-{{item.id}}">{{item.roomName}}</a></h2>
                            <ul class="cardFeat">
                                <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>{{item.createdDate|timeago}}</span></li>
                                <li><span class="fa fa-info"></span><span style="margin-left:5px;">{{item.acreage}} m<sup>2</sup></span></li>
                                <li><span class="fa fa-male"></span><span style="margin-left:5px;">{{item.userName}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
</div>


