<div ng-if="searchType==1">
    <div class="form-group">
        <select kendo-drop-down-list
                k-option-label="'Chọn Loại Phòng'"
                k-data-text-field="'roomTypeName'"
                k-data-value-field="'id'"
                k-filter="'contains'"
                k-suggest="true"
                k-value-primitive="true"
                k-auto-bind="false"
                k-data-source="data.lstRoomType"
                k-ng-model="fillter.roomtype"
                style="width: 100%"></select>
    </div>
    <div class="form-group">
        <select kendo-drop-down-list
                k-option-label="'Chọn Tỉnh/Thành Phố'"
                k-data-text-field="'name'"
                k-data-value-field="'id'"
                data-fv-notempty="true"
                data-fv-notempty-message="Vui lòng chọn tỉnh thành"
                name="province"
                k-filter="'contains'"
                k-suggest="true"
                k-value-primitive="true"
                k-auto-bind="false"
                k-data-source="data.lstProvince"
                k-on-change="GetAllDistrict(fillter.provinceId)"
                k-ng-model="fillter.provinceId"
                style="width: 100%"></select>
    </div>
    <div class="form-group">
        <select kendo-drop-down-list
                k-option-label="'Chọn Quận/Huyện'"
                k-data-text-field="'name'"
                k-data-value-field="'id'"
                k-filter="'contains'"
                k-suggest="true"
                k-value-primitive="true"
                k-auto-bind="false"
                k-data-source="data.lstDistrict"
                k-on-change="GetAllWard(fillter.districtID)"
                k-ng-model="fillter.districtID"
                style="width: 100%"></select>
    </div>
    <div class="form-group">
        <select kendo-drop-down-list
                k-option-label="'Chọn Xã/Phường'"
                k-data-text-field="'name'"
                k-data-value-field="'id'"
                k-filter="'contains'"
                k-suggest="true"
                k-value-primitive="true"
                k-auto-bind="false"
                k-data-source="data.lstWard"
                k-ng-model="fillter.wardID"
                style="width: 100%"></select>
    </div>
</div>
<div ng-if="searchType==3">
    <div class="form-group clearfix">
        <label class="col-lg-2 control-label " for="userName">Danh mục<i class="required">*</i> :</label>
        <div class="col-lg-6">
            <select kendo-drop-down-list
                    k-option-label="'--Chọn danh mục--'"
                    k-data-text-field="'roomTypeName'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    data-fv-notempty="true"
                    data-fv-notempty-message="Vui lòng chọn danh mục"
                    name="roomtype"
                    k-data-source="data.lstRoomType"
                    k-ng-model="fillter.roomtype"
                    style="width: 100%"></select>
        </div>
    </div>
    <div class="form-group clearfix">
        <label class="col-lg-2 control-label " for="userName">Tỉnh Thành<i class="required">*</i> :</label>
        <div class="col-lg-6">
            <select kendo-drop-down-list
                    k-option-label="'--Chọn Tỉnh/Thành Phố--'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    data-fv-notempty="true"
                    data-fv-notempty-message="Vui lòng chọn tỉnh thành"
                    name="province"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstProvince"
                    k-on-change="GetAllDistrict(fillter.provinceId)"
                    k-ng-model="fillter.provinceId"
                    style="width: 100%"></select>
        </div>
        <div class="col-md-4 note-col">
        </div>
    </div>
    <div class="form-group clearfix">
        <label class="col-lg-2 control-label " for="userName">Quận/huyện<i class="required">*</i> :</label>
        <div class="col-lg-6">
            <select kendo-drop-down-list
                    k-option-label="'--Chọn Quận/Huyện--'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstDistrict"
                    k-on-change="GetAllWard(fillter.districtID)"
                    k-ng-model="fillter.districtID"
                    style="width: 100%"></select>
        </div>
        <div class="col-md-4 note-col">
        </div>
    </div>
    <div class="form-group clearfix">
        <label class="col-lg-2 control-label " for="userName">Phường/xã<i class="required">*</i> :</label>
        <div class="col-lg-6">
            <select kendo-drop-down-list
                    k-option-label="'--Chọn Xã/Phường--'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstWard"
                    k-ng-model="fillter.wardID"
                    style="width: 100%"></select>
        </div>
        <div class="col-md-4 note-col">
        </div>
    </div>
</div>
<div ng-if="searchType==2">
    <div class="layered_subtitle">Tất cả danh mục</div>
    <div class="layered-content filter-group">
        <ul>
            <li class="filter-item filter-item--check-box filter-item--green" ng-repeat="item in data.lstRoomType">
                <span>
                    <label for="{{item.id}}">
                        <input type="checkbox" checklist-model="fillter.roomtype" checklist-value="item.id" id="{{item.id}}" value="{{item.id}}">
                        <i class="fa"></i>
                        {{item.roomTypeName}}
                    </label>
                </span>
            </li>
        </ul>
    </div>
    <!-- ./filter price -->
    <div class="layered_subtitle">Địa điểm</div>
    <div class="layered-content slider-range">
        <div class="margin-bottom-15">
            <select kendo-drop-down-list
                    k-option-label="'Chọn Tỉnh/Thành Phố'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    data-fv-notempty="true"
                    data-fv-notempty-message="Vui lòng chọn tỉnh thành"
                    name="province"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstProvince"
                    k-on-change="GetAllDistrict(fillter.provinceId)"
                    k-ng-model="fillter.provinceId"
                    style="width: 100%"></select>
        </div>
        <div class="margin-bottom-15">
            <select kendo-drop-down-list
                    k-option-label="'Chọn Quận/Huyện'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstDistrict"
                    k-on-change="GetAllWard(fillter.districtID)"
                    k-ng-model="fillter.districtID"
                    style="width: 100%"></select>
        </div>
        <div class="margin-bottom-15">
            <select kendo-drop-down-list
                    k-option-label="'Chọn Xã/Phường'"
                    k-data-text-field="'name'"
                    k-data-value-field="'id'"
                    k-filter="'contains'"
                    k-suggest="true"
                    k-value-primitive="true"
                    k-auto-bind="false"
                    k-data-source="data.lstWard"
                    k-ng-model="fillter.wardID"
                    style="width: 100%"></select>
        </div>
    </div>
</div>