<router-outlet name="header"></router-outlet>
<div class="clearfix"></div>
<router-outlet name="search"></router-outlet>

<div class="clearfix"></div>
<div class="main-content">
  <div class="container">
    <div class="row top-companies">
      <div id="owl-brand" class="owl-carousel owl-theme">
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                            </a>
          </div>
        </div>
      </div>
    </div>
    <router-outlet name="room"></router-outlet>
    <router-outlet name="post"></router-outlet>
    <div class="a-center clearfix">
      <a class="view-more-room" href="javascript:;">Xem thêm</a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<section class="people_say">
  <div class="container">
    <div class="row ">
      <h2 class="people_say_title text-center">Khách hàng nói gì về Phòng Tốt ?</h2>
      <p class="people_say_description text-center">Hơn 20.000 khách hàng của Phòng Tốt đã, đang và sẽ đồng hành cùng chúng tôi trong suốt hơn 8 năm qua sẽ nói cho bạn
        biết tại sao họ chọn và luôn tin tưởng GreenSpace.</p>
      <div id="owl-demo-people-say" class="owl-carousel owl-theme">
        <div class="item">
          <div class="new-item">
            <div class="col-xs-12">
              <div class="people-say-content">
                <div class="people-img">
                  <a href="#Nguyễn Thái Hà" title="Nguyễn Thái Hà"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-2.jpg?1493885669766" alt="Nguyễn Thái Hà"></a>
                </div>
                <div class="people-right">
                  <h3 class="people-name">Nguyễn Thái Hà</h3>
                  <p class="people-info">Kỹ sư</p>
                  <p class="people-description">
                    Thật tuyệt khi mua hàng tại Rengar, tôi cảm thấy mình được phục vụ vô cùng chu đáo và tận tình. Chắc chắn tôi sẽ quay lại
                    mua hàng tại Rengar nhiều lần nữa. Chúc Rengar phát triển mạnh mẽ hơn nữa.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <div class="col-xs-12">
              <div class="people-say-content">
                <div class="people-img">
                  <a href="#Vũ Thu Huyền" title="Vũ Thu Huyền"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-3.jpg?1493885669766" alt="Vũ Thu Huyền"></a>
                </div>
                <div class="people-right">
                  <h3 class="people-name">Vũ Thu Huyền</h3>
                  <p class="people-info">Ngân hàng</p>
                  <p class="people-description">
                    Tôi đã mua sản phẩm tại Rengar, điều tôi nhận thấy là phong cách phục vụ thân thiệt, tư vấn nhiệt tình khi chat của anh chị
                    quản lý. Giá rất tốt vì Rengar luôn có chương trình giảm giá từ 10% đến 20%.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <div class="col-xs-12">
              <div class="people-say-content">
                <div class="people-img">
                  <a href="#Vũ Thu Huyền" title="Vũ Thu Huyền"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-3.jpg?1493885669766" alt="Vũ Thu Huyền"></a>
                </div>
                <div class="people-right">
                  <h3 class="people-name">Vũ Thu Huyền</h3>
                  <p class="people-info">Ngân hàng</p>
                  <p class="people-description">
                    Tôi đã mua sản phẩm tại Rengar, điều tôi nhận thấy là phong cách phục vụ thân thiệt, tư vấn nhiệt tình khi chat của anh chị
                    quản lý. Giá rất tốt vì Rengar luôn có chương trình giảm giá từ 10% đến 20%.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
        <h4 class="footer__col--title">Thông tin công ty</h4>
        <ul class="footer__col--list">

          <li><a href="/thong-tin-cong-ty">Thông tin công ty</a></li>

          <li><a href="/gioi-thieu">Giới thiệu công ty</a></li>

          <li><a href="/he-thong-cac-sieu-thi">Hệ thống các siêu thị</a></li>

          <li><a href="/tuyen-dung">Tuyển dụng</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
        <h4 class="footer__col--title">Hỗ trợ khách hàng</h4>
        <ul class="footer__col--list">

          <li><a href="/lien-he">Liên hệ và góp ý</a></li>

          <li><a href="/huong-dan-mua-hang-online">Hướng dẫn mua hàng online</a></li>

          <li><a href="/huong-dan-mua-tra-gop">Hướng dẫn mua trả góp</a></li>

          <li><a href="/quy-che-quan-ly-hoat-dong">Quy chế quản lý hoạt động</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
        <h4 class="footer__col--title">Chính sách mua hàng</h4>
        <ul class="footer__col--list">

          <li><a href="/quy-dinh-chinh-sach">Quy định, chính sách</a></li>

          <li><a href="/chinh-sach-bao-hang-doi-tra">Chính sách bảo hàng - đổi trả</a></li>

          <li><a href="/chinh-sach-hoi-vien">Chính sách hội viên</a></li>

          <li><a href="/giao-hang-va-lap-dat">Giao hàng và lắp đặt</a></li>

        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
        <h4 class="footer__col--title">Liên hệ với chúng tôi</h4>
        <div class="item-info">
          <div class="item-info__icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <address>Địa chỉ: Tầng 4, Tòa Hà Nội Group 442 Đội Cấn, Ba Đình, HN</address>
        </div>
        <div class="item-info">
          <div class="item-info__icon">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </div>
          <p>Hotline 1: <a href="tel:">(04) 6674 2332</a></p>
          <p class="visible-xs">Hotline 2: <a href="tel:1900 6750">1900 6750</a></p>
        </div>
        <div class="item-info visible-xs">
          <div class="item-info__icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <p>Email: <a href="mailto:support@mobile.com">support@mobile.com</a></p>
        </div>

        <div class="cer-bct hidden-xs">
          <a href="http://www.moit.gov.vn/vn/Pages/Trangchu.aspx">
                            <img src="//bizweb.dktcdn.net/100/141/731/themes/183776/assets/bct.png?1496308470726" alt="Đã đăng ký bộ công thương">
                        </a>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container text-center">
      © Bản quyền thuộc về <a href="javascript:;" rel="nofollow">TT Team</a> - Cung cấp bởi <a href="">NamCkiku</a>
    </div>
  </div>
</footer>