<div class="row box-new-info">
  <div class="section-title a-center">
    <h2>
      <a href="/collections">Tin tức</a>
    </h2>
    <p>Những tin tức chứng khoán,bất động sản nhanh nhất</p>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="article-item">
      <div class="article-item__thumb">
        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                                <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                            </a>
      </div>
      <div class="article-item__content">
        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên
          chính gian hàng online của Apple,...</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="article-item">
      <div class="article-item__thumb">
        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                                <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                            </a>
      </div>
      <div class="article-item__content">
        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên
          chính gian hàng online của Apple,...</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="article-item">
      <div class="article-item__thumb">
        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                                <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                            </a>
      </div>
      <div class="article-item__content">
        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên
          chính gian hàng online của Apple,...</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="article-item">
      <div class="article-item__thumb">
        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                                <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                            </a>
      </div>
      <div class="article-item__content">
        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên
          chính gian hàng online của Apple,...</div>
      </div>
    </div>
  </div>
</div>