
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content" ng-controller="RoomDetailController" block-ui="BlockUIRoomDetail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
                        <li><a href="/">{{roomObj.roomTypeName}}</a> <span class="divider"></span></li>
                        <li>{{roomObj.roomName}}</li>
                    </ul>
                </div>
            </div>
            <input type="hidden" id="txtRoomId" value="@ViewBag.RoomId" />
            <div class="col-lg-9 col-md-9">
                <div class="real-estate">
                    <div class="real-estate-detail">
                        <h1 class="title">{{roomObj.roomName}}</h1>
                        <div class="main-info">
                            <div class="col-md-8 left-info nopadding-xs no-padding-left">
                                <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                                    <div owl-carousel-item="" ng-repeat="item in ::roomObj.moreImages" class="item">
                                        <a href="" rel="prettyPhoto" class="prettygalery">
                                            <img ng-src="{{baseUrl}}UploadedFiles/Rooms/{{::item}}" class="img-responsive">
                                        </a>
                                    </div>
                                </data-owl-carousel>
                                <div id="owl-search" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="new-item">
                                            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_1.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="new-item">
                                            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_3.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="new-item">
                                            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_2.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="room-detail-info margin-bottom-15">
                                    <div class="address">
                                        <span class="btn info-label">Địa chỉ</span>
                                        <a class="" href="">{{roomObj.address}}</a>
                                    </div>
                                    <div class="size">
                                        <span class="btn info-label">Diện tích</span>
                                        <a href="" class="btn info-data">{{roomObj.acreage |number}}m<sup>2</sup></a>
                                        <span class="btn info-label">Loại phòng</span>
                                        <a href="">{{roomObj.roomTypeName}}</a>
                                    </div>
                                    <div class="vs">
                                        <span class="btn info-label">Vệ sinh</span>
                                        <a href="" class="btn info-data">{{roomObj.toiletNumber}}</a>
                                        <span class="btn info-label">Số người ở</span>
                                        <a href="">{{roomObj.floorNumber}} người</a>
                                    </div>
                                    <div class="type">
                                        <span class="btn info-label">Giá điện</span>
                                        <a href="" class="btn info-data">{{roomObj.electricPrice|number}} nghìn/tháng</a>
                                        <span class="btn info-label">Giá nước</span>
                                        <a href="">{{roomObj.waterPrice|number}} nghìn/tháng</a>
                                    </div>
                                    <div class="type">
                                        <span class="btn info-label">Tầng</span>
                                        <a href="" class="btn info-data">Tầng {{roomObj.floorNumber}}</a>
                                        <span class="btn info-label">Số người ở</span>
                                        <a href="">{{roomObj.floorNumber}} người</a>
                                    </div>
                                    <div class="Compass">
                                        <span class="btn info-label">Tiện ích</span>
                                        <a class="" ng-repeat="item in roomObj.convenient">{{item}}</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 no-padding margin-bottom-10">
                                <div class="info-contact">
                                    <div class="agentAvatar">
                                        <a href="#">
                                            <img class="avatar agentAvatarImg" ng-if="roomObj.avatar !=null && roomObj.avatar !=''" style="width:50px;" ng-src="{{roomObj.avatar}}" />
                                            <img class="avatar agentAvatarImg" ng-if="roomObj.avatar == null || roomObj.avatar == ''" style="width:50px;" src="~/Content/img/boy-512.png" />
                                        </a>
                                    </div>
                                    <div class="info-boss">
                                        <div class="info-boss-name" style="padding-bottom: 5px;">
                                            <a href="#"><strong class="info-strong-name">{{roomObj.userName}}</strong></a>
                                        </div>
                                        <div class="info-boss-address">
                                            <i style="display: table-cell;" class="fa fa-map-marker"></i><span class="info-span-adress">{{roomObj.address}}</span>
                                        </div>
                                    </div>
                                    <div class="info-price">
                                        <span>{{roomObj.price|number}} Đ/Tháng</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="info-help" style="padding: 10px 10px 0;">
                                    <div class="info-help-phone" style="margin-bottom: 10px;">
                                        <a ng-if="!isShowPhone" id="show_phone_bnt" ng-click="showPhoneNumber();" class="btn btn-primary btn-block">
                                            <i style="margin-right: 10px;" class="fa fa-phone"></i><span>Nhấn để hiện số điện thoại</span>
                                        </a>
                                        <h4 ng-if="isShowPhone" style="text-align: center;padding: 12.5px;"><strong>{{roomObj.phone}}</strong></h4>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="quick-fill hidden-xs">
                                    <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="font-weight:bold">Thuê phòng an toàn</span></div>
                                    <ul style="padding-left:15px" class="text-justify">
                                        <li>
                                            <em>KHÔNG trả tiền trước khi nhận hàng.</em>
                                        </li>
                                        <li><em>Kiểm tra hàng cẩn thận, đặc biệt với hàng đắt tiền.</em></li>
                                        <li><em>Hẹn gặp ở nơi công cộng.</em></li>
                                        <li><em>Nếu bạn mua hàng hiệu, hãy gặp mặt tại cửa hàng để nhờ xác minh, tránh mua phải hàng giả.</em></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix padding-top-10"></div>
                        <div class="room-info-des">
                            <div class="dis-content">
                                <ul role="tablist" class="nav nav-tabs clearfix">
                                    <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">BẢN ĐỒ</a></li>
                                    <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">NỘI DUNG</a></li>
                                    <li role="tablist" class=""><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">BÌNH LUẬN / ĐÁNH GIÁ</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="tab-1" class="tab-pane active">
                                        <div id="map-canvas"></div>
                                    </div>
                                    <div role="tabpanel" id="tab-2" class="tab-pane ">
                                        <div class="dis-content" ng-bind-html="renderHtml(roomObj.content)">
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="tab-3" class="tab-pane">
                                        <div data-href="https://developers.facebook.com/docs/plugins" data-width="100%" data-numposts="1" class="fb-comments fb_iframe_widget fb_iframe_widget_fluid" fb-xfbml-state="rendered">
                                            <span style="height: 436px;">
                                                <iframe id="f1de98f06b604fc" name="f196e2a775eb24" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df34faefffacbba8%26domain%3Dega-fashion-magazine.bizwebvietnam.net%26origin%3Dhttps%253A%252F%252Fega-fashion-magazine.bizwebvietnam.net%252Ff256c7428bd01f4%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins&amp;locale=en_US&amp;numposts=1&amp;sdk=joey&amp;version=v2.8&amp;width=100%25" style="border: none; overflow: hidden; height: 436px; width: 100%;"></iframe>
                                            </span>
                                        </div>
                                    </div>
                                    <div role="tabpanel" id="tab-4" class="tab-pane">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12">
                <div class="box-search-sidebar dqdt-sidebar">
                    <div class="title_st">
                        <h2>
                            <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                            Tin liên quan
                        </h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="sidebar-ads nopadding-xs hidden-xs hidden-sm margin-top-20" style="margin-top:20px;">
                    <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #map-canvas {
        height: 300px;
        width: 100%;
    }

    .dis-content .nav-tabs {
        border-top: 2px solid #00c5bb;
        background: #eee;
    }

        .dis-content .nav-tabs > li.active a {
            border-top: 3px solid #00c5bb;
        }

        .dis-content .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            cursor: default;
        }

        .dis-content .nav-tabs > li a {
            border-radius: 0;
        }

    .dis-content .tab-content {
        border: 1px solid #e7e7e7;
        border-top: 0;
        padding: 20px;
    }
</style>
