
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-form">
    <div class="slide-home">
        <div class="diy-slideshow">
            <div id="owl-search" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="new-item">
                        <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_1.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_3.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="//bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_2.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero" id="search-room-hero">
            <div class="container">
                <div class="box-search-room box">
                    <form method="get" id="frm-search-room" onsubmit="return false;">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Tìm kiếm <strong>ngôi nhà mơ ước</strong> của bạn cùng <strong>Phòng Tốt</strong></h1>
                            </div>
                            <div class="col-sm-10 search-input">
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Địa chỉ của bạn" id="keyword" value="">
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Tất cả loại phòng" id="keyword" value="">
                                </div>
                                <div class="form-group col-sm-4">
                                    <input class="form-control" placeholder="Gía tiền" id="keyword" value="">
                                </div>
                                <div class="col-xs-12 common-searches text-white">
                                    <a href="#">Phòng trọ</a>,
                                    <a href="#">Văn phòng</a>,
                                    <a href="#">Nhà ở</a>,
                                    <a href="#">Bất động sản</a>,
                                    <a href="#">tư vấn</a>,
                                    <a href="#">hành chính</a>,
                                    <a href="#">nhân sự</a>,
                                    <a href="#">ngân hàng</a>,
                                    <a href="#">lập trình</a>,
                                    <a href="#">seo</a>,
                                    <a href="#">tester</a>,
                                    <a href="#">fpt</a>
                                </div>
                            </div>
                            <div class="col-sm-2 search-submit">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="form-control btn btn-block btn-search-primary btn-border btn-border-thin" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="main-content">
    <div class="container">
        <div class="row top-companies">
            <div id="owl-brand" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_2.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <a href="#">
                            <img src="//bizweb.dktcdn.net/100/213/729/themes/539320/assets/brand_3.png?1496109062186" alt="brand">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-room-info">
            <div class="section-title a-center">
                <h2>
                    <a href="/collections">Tin nổi bật</a>
                </h2>
                <p>Những tin tức hót nhất mùa hè này</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 no-touch">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/cho-thue-phong-tro-so-3-ngach-20-ngo-151-nguyen-duc-canh-1482230449fnkre-lzzvd.jpg);"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>Phòng trọ</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">1,900,000 Đ/tháng</div>
                    </div>
                    <h2 title="Cho thuê phòng trọ tại Thái Thịnh Hà Nội">Cho thuê phòng trọ tại Thái Thịnh Hà Nội</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>Thái Thịnh-Đống đa- Hà Nội
                    </div>
                    <ul class="cardFeat">
                        <li><i class="fa fa-clock-o" style="margin-right:5px;" aria-hidden="true"></i><span>1 ngày trước</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">30 m<sup>2</sup></span></li>
                        <!--@*
                        <li><span class="fa fa-male" style="margin-right:5px;"></span>{{item.BedroomNumber}}</li>*@-->
                        <li><span class="fa fa-male"></span><span style="margin-left:5px;">NamCkiku</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="a-center clearfix" style="clear: left;">
                <a class="view-more-room" href="javascript:;">Xem thêm</a>
            </div>
        </div>
        <div class="row box-new-info">
            <div class="section-title a-center">
                <h2>
                    <a href="/collections">Tin tức</a>
                </h2>
                <p>Những tin tức chứng khoán,bất động sản nhanh nhất</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="article-item">
                    <div class="article-item__thumb">
                        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                            <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                        </a>
                    </div>
                    <div class="article-item__content">
                        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
                        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
                        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên chính gian hàng online của Apple,...</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="article-item">
                    <div class="article-item__thumb">
                        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                            <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                        </a>
                    </div>
                    <div class="article-item__content">
                        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
                        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
                        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên chính gian hàng online của Apple,...</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="article-item">
                    <div class="article-item__thumb">
                        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                            <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                        </a>
                    </div>
                    <div class="article-item__content">
                        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
                        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
                        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên chính gian hàng online của Apple,...</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="article-item">
                    <div class="article-item__thumb">
                        <a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">

                            <img src="//bizweb.dktcdn.net/thumb/large/100/141/731/articles/asdadsad.jpg?v=1479057687783" alt="Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành">

                        </a>
                    </div>
                    <div class="article-item__content">
                        <h3 class="article-item__title"><a href="/apple-lan-dau-tien-truc-tiep-ban-iphone-tra-bao-hanh">Apple lần đầu tiên trực tiếp bán iPhone trả bảo hành</a></h3>
                        <div class="article-item__date">Thứ Hai, 14/11/2016 00:13</div>
                        <div class="article-item__summary"> Trước đây, người ta có thể dễ dàng tìm mua các mẫu máy Mac, iPad hay cả iPod hàng “tân trang” (refurbished) trên chính gian hàng online của Apple,...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="a-center clearfix">
            <a class="view-more-room" href="javascript:;">Xem thêm</a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<section class="people_say">
    <div class="container">
        <div class="row ">
            <h2 class="people_say_title text-center">Khách hàng nói gì về Phòng Tốt ?</h2>
            <p class="people_say_description text-center">Hơn 20.000 khách hàng của Phòng Tốt đã, đang và sẽ đồng hành cùng chúng tôi trong suốt hơn 8 năm qua sẽ nói cho bạn biết tại sao họ chọn và luôn tin tưởng GreenSpace.</p>
            <div id="owl-demo-people-say" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="new-item">
                        <div class="col-xs-12">
                            <div class="people-say-content">
                                <div class="people-img">
                                    <a href="#Nguyễn Thái Hà" title="Nguyễn Thái Hà"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-2.jpg?1493885669766" alt="Nguyễn Thái Hà"></a>
                                </div>
                                <div class="people-right">
                                    <h3 class="people-name">Nguyễn Thái Hà</h3>
                                    <p class="people-info">Kỹ sư</p>
                                    <p class="people-description">
                                        Thật tuyệt khi mua hàng tại Rengar, tôi cảm thấy mình được phục vụ vô cùng chu đáo và tận tình. Chắc chắn tôi sẽ quay lại mua hàng tại Rengar nhiều lần nữa. Chúc Rengar phát triển mạnh mẽ hơn nữa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <div class="col-xs-12">
                            <div class="people-say-content">
                                <div class="people-img">
                                    <a href="#Vũ Thu Huyền" title="Vũ Thu Huyền"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-3.jpg?1493885669766" alt="Vũ Thu Huyền"></a>
                                </div>
                                <div class="people-right">
                                    <h3 class="people-name">Vũ Thu Huyền</h3>
                                    <p class="people-info">Ngân hàng</p>
                                    <p class="people-description">
                                        Tôi đã mua sản phẩm tại Rengar, điều tôi nhận thấy là phong cách phục vụ thân thiệt, tư vấn nhiệt tình khi chat của anh chị quản lý. Giá rất tốt vì Rengar luôn có chương trình giảm giá từ 10% đến 20%.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="new-item">
                        <div class="col-xs-12">
                            <div class="people-say-content">
                                <div class="people-img">
                                    <a href="#Vũ Thu Huyền" title="Vũ Thu Huyền"><img src="//bizweb.dktcdn.net/thumb/small/100/052/640/themes/517823/assets/people-ava-3.jpg?1493885669766" alt="Vũ Thu Huyền"></a>
                                </div>
                                <div class="people-right">
                                    <h3 class="people-name">Vũ Thu Huyền</h3>
                                    <p class="people-info">Ngân hàng</p>
                                    <p class="people-description">
                                        Tôi đã mua sản phẩm tại Rengar, điều tôi nhận thấy là phong cách phục vụ thân thiệt, tư vấn nhiệt tình khi chat của anh chị quản lý. Giá rất tốt vì Rengar luôn có chương trình giảm giá từ 10% đến 20%.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
