<div class="search-form">
  <div class="slide-home">
    <div class="diy-slideshow">
      <div id="owl-search" class="owl-carousel owl-theme">
        <div class="item">
          <div class="new-item">
            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="http://bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_1.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="http://bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_3.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
          </div>
        </div>
        <div class="item">
          <div class="new-item">
            <a href="#"><img class="img-responsive img-slider" style="width:100%;" src="http://bizweb.dktcdn.net/100/174/202/themes/228417/assets/slider_2.jpg?1496653339413" alt="Thẻ alt của ảnh"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero" id="search-room-hero">
      <div class="container">
        <div class="box-search-room box">
          <form method="get" id="frm-search-room" onsubmit="return false;">
            <div class="row">
              <div class="col-xs-12">
                <h1>Tìm kiếm <strong>ngôi nhà mơ ước</strong> của bạn cùng <strong>Phòng Tốt</strong></h1>
              </div>
              <div class="col-sm-10 search-input">
                <div class="form-group col-sm-4">
                  <input class="form-control" placeholder="Địa chỉ của bạn" id="keyword" value="">
                </div>
                <div class="form-group col-sm-4">
                  <input class="form-control" placeholder="Tất cả loại phòng" id="keyword" value="">
                </div>
                <div class="form-group col-sm-4">
                  <input class="form-control" placeholder="Gía tiền" id="keyword" value="">
                </div>
                <div class="col-xs-12 common-searches text-white">
                  <a href="#">Phòng trọ</a>,
                  <a href="#">Văn phòng</a>,
                  <a href="#">Nhà ở</a>,
                  <a href="#">Bất động sản</a>,
                  <a href="#">tư vấn</a>,
                  <a href="#">hành chính</a>,
                  <a href="#">nhân sự</a>,
                  <a href="#">ngân hàng</a>,
                  <a href="#">lập trình</a>,
                  <a href="#">seo</a>,
                  <a href="#">tester</a>,
                  <a href="#">fpt</a>
                </div>
              </div>
              <div class="col-sm-2 search-submit">
                <div class="row">
                  <div class="col-xs-12">
                    <button class="form-control btn btn-block btn-search-primary btn-border btn-border-thin" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Tìm</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>