
<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
                <h4 class="footer__col--title">Thông tin công ty</h4>
                <ul class="footer__col--list">

                    <li><a href="/thong-tin-cong-ty">Thông tin công ty</a></li>

                    <li><a href="/gioi-thieu">Giới thiệu công ty</a></li>

                    <li><a href="/he-thong-cac-sieu-thi">Hệ thống các siêu thị</a></li>

                    <li><a href="/tuyen-dung">Tuyển dụng</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
                <h4 class="footer__col--title">Hỗ trợ khách hàng</h4>
                <ul class="footer__col--list">

                    <li><a href="/lien-he">Liên hệ và góp ý</a></li>

                    <li><a href="/huong-dan-mua-hang-online">Hướng dẫn mua hàng online</a></li>

                    <li><a href="/huong-dan-mua-tra-gop">Hướng dẫn mua trả góp</a></li>

                    <li><a href="/quy-che-quan-ly-hoat-dong">Quy chế quản lý hoạt động</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
                <h4 class="footer__col--title">Chính sách mua hàng</h4>
                <ul class="footer__col--list">

                    <li><a href="/quy-dinh-chinh-sach">Quy định, chính sách</a></li>

                    <li><a href="/chinh-sach-bao-hang-doi-tra">Chính sách bảo hàng - đổi trả</a></li>

                    <li><a href="/chinh-sach-hoi-vien">Chính sách hội viên</a></li>

                    <li><a href="/giao-hang-va-lap-dat">Giao hàng và lắp đặt</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer__col">
                <h4 class="footer__col--title">Liên hệ với chúng tôi</h4>
                <div class="item-info">
                    <div class="item-info__icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <address>Địa chỉ: Tầng 4, Tòa Hà Nội Group 442 Đội Cấn, Ba Đình, HN</address>
                </div>
                <div class="item-info">
                    <div class="item-info__icon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <p>Hotline 1: <a href="tel:">(04) 6674 2332</a></p>
                    <p class="visible-xs">Hotline 2: <a href="tel:1900 6750">1900 6750</a></p>
                </div>
                <div class="item-info visible-xs">
                    <div class="item-info__icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <p>Email: <a href="mailto:support@mobile.com">support@mobile.com</a></p>
                </div>

                <div class="cer-bct hidden-xs">
                    <a href="http://www.moit.gov.vn/vn/Pages/Trangchu.aspx">
                        <img src="//bizweb.dktcdn.net/100/141/731/themes/183776/assets/bct.png?1496308470726" alt="Đã đăng ký bộ công thương">
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="ads_payment">
                <div class="b_footer_ads">
                    <a title="Google Play" href="#"><img src="~/Content/img/google_play.png" alt="google_play"></a>
                    <a title="App Store" href="#"><img src="~/Content/img/app_store.png" alt="app_store"></a>
                </div>
                <div class="payment">
                    <ul>
                        <li>
                            <a class="visa active" href="#" title="Visa"><img src="~/Content/img/ads_visa.png" alt="Visa"></a>
                        </li>
                        <li>
                            <a class="masterCard active" href="#" title="MasterCard"><img src="~/Content/img/ads_meastro.png" alt="MasterCard"></a>
                        </li>
                        <li>
                            <a class="cirrus active" href="#" title="Cirrus"><img src="~/Content/img/ads_cirrus.png" alt="Cirrus"></a>
                        </li>
                        <li>
                            <a class="discover active" href="#" title="Discover"><img src="~/Content/img/ads_discover.png" alt="Discover"></a>
                        </li>
                        <li>
                            <a class="bank active" href="#" title="Bank"><img src="~/Content/img/ads_bank.png" alt="Bank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container text-center">
            © Bản quyền thuộc về <a href="javascript:;" rel="nofollow">TT Team</a> - Cung cấp bởi <a href="">NamCkiku</a>
        </div>
    </div>
</footer>