
<header id="header" class="header-top">
    <nav class="navbar horizontal-navbar header-nav" ng-controller="AuthenticationController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="offcanvas" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="padding-top:5px;">
                    <img class="img-responsive" style="height:50px;width:200px" src="~/Content/img/Logobizland.png">
                </a>
            </div>
            <div class="collapse navbar-collapse nav-menu">
                <ul class="nav navbar-nav navbar-left hidden-sm">
                    <li>
                        <a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="true">
                            Tất Cả Phòng Trọ
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li ng-repeat="item in data.lstRoomType">
                                <a href="/danh-sach-phong?roomtype={{item.id}}"><i class="fa {{item.imageIcon}}"></i>{{item.roomTypeName}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" href="#">Nạp Coin</a>
                    </li>
                    <li>
                        <a href="">Bản đồ</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-menu">
                    <li>
                        <a href="javascript: void(0);" class="alert-notifications notifications dd" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-bell-o" style="font-size:18px"></i>
                            <span class="badge number">2</span>
                        </a>
                        <ul class="dropdown-menu dropdown-notifications">
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bullhorn"></i></span>
                                    Có 18 vị trí mới hấp dẫn cho bạn
                                    <span class="small italic">(34 phút)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="fa fa-bullhorn"></i></span>
                                    Có 18 vị trí mới hấp dẫn cho bạn
                                    <span class="small italic">(34 phút)</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="!userInfo.IsAuthenticated">
                        <a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="true">
                            Tài khoản
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="javascript:;" ng-click="showPopupLogin();">
                                    <i class="fa fa-fw fa-lg fa-sign-in"></i> Đăng nhập
                                </a>

                            </li>
                            <li>
                                <a href="javascript:;" ng-click="showPopupRegister();">Đăng Ký</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="userInfo.IsAuthenticated">
                        <a href="javascript: void(0);" data-toggle="dropdown" aria-expanded="true" style="margin-top:5px;">
                            <img class="avatar agentAvatarImg" ng-if="userInfo.avatar !=null && userInfo.avatar !=''" style="width:50px;" ng-src="{{userInfo.avatar}}" />
                            <img class="avatar agentAvatarImg" ng-if="userInfo.avatar == null || userInfo.avatar == ''" style="width:50px;" src="~/Content/img/boy-512.png" />
                            {{userInfo.fullName}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-lg fa-user"></i>Tài Khoản</a>
                            </li>
                            <li>
                                <a href="" ng-click="logOut();"><i class="fa fa-lg fa-sign-out fa-fw"></i>Thoát</a>
                            </li>
                        </ul>
                    </li>
                    <li class="horizontal-navbar-create-room" ng-if="userInfo.IsAuthenticated">
                        <a class="btn-addroom" href="/dang-tin-mien-phi"><i style="margin-right:10px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Đăng tin miễn phí</a>
                    </li>
                    <li class="horizontal-navbar-create-room" ng-if="!userInfo.IsAuthenticated">
                        <a class="btn-addroom" href="javascript: void(0);" ng-click="showPopupLogin();"><i style="margin-right:10px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Đăng tin miễn phí</a>
                    </li>
                </ul>
            </div>

            <div class="sb-slidebar sb-left sb-style-overlay hidden-sm hidden-md hidden-lg" style="margin-left: -20%;">
                <div id="slidemenu" class="slidemenu" style="height: 490px; display: block; transition-property: all; transition-duration: 0s; transition-timing-function: ease; width: 240px; top: 0px;">
                    <div id="profile" ng-if="userInfo.IsAuthenticated">
                        <img ng-if="userInfo.avatar !=null && userInfo.avatar !=''" style="width:58px;height:58px;" ng-src="{{userInfo.avatar}}" />
                        <img ng-if="userInfo.avatar == null || userInfo.avatar == ''" style="width:58px;height:58px;" src="~/Content/img/boy-512.png" />
                        <div class="profile_info"><strong>{{userInfo.fullName}}</strong>@*<br><small>Web &amp;Lập trình Mobile</small>*@</div>
                    </div>
                    <h3 ng-if="!userInfo.IsAuthenticated">Tài khoản</h3>
                    <ul ng-if="!userInfo.IsAuthenticated">
                        <li>
                            <a href="javascript:;" ng-click="showPopupLogin();">
                                <i class="fa fa-fw fa-lg fa-sign-in"></i> Đăng nhập
                            </a>

                        </li>
                        <li>
                            <a href="javascript:;" ng-click="showPopupRegister();">
                                <i class="fa fa-fw fa-lg fa-sign-in"></i>Đăng Ký
                            </a>
                        </li>
                    </ul>
                    <h3>Tất Cả Phòng Trọ</h3>
                    <ul>
                        <li ng-repeat="item in data.lstRoomType">
                            <a href="/danh-sach-phong?roomtype={{item.id}}"><i class="fa {{item.imageIcon}}" style="margin-right:10px;" aria-hidden="true"></i>{{item.roomTypeName}}</a>
                        </li>
                    </ul>
                    <h3>Menu</h3>
                    <ul>
                        <li><a href=""><i class="fa fa-bullhorn" style="margin-right:10px;" aria-hidden="true"></i>Nạp Coin</a></li>
                        <li><a href=""><i class="fa fa-bullhorn" style="margin-right:10px;" aria-hidden="true"></i>Bản đồ</a></li>
                        <li class="horizontal-navbar-create-room">
                            <a class="btn-addroom" href="javascript: void(0);"><i style="margin-right:10px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>Đăng tin miễn phí</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>
</header>