
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content" style="background:#F7F9FA">
    <div class="container" ng-controller="ProfileController" block-ui="BlockUIProfle">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
                        <li>Trang cá nhân "{{userInfo.fullName}}"</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media profile-block">
                    <div class="media-user-avatar col-lg-4 col-sm-4 col-xs-4 no-padding">
                        <img class="media-object user-avatar img-circle" ng-if="userInfo.avatar !=null && userInfo.avatar !=''" ng-src="{{userInfo.avatar}}">
                        <img class="media-object user-avatar img-circle" ng-if="userInfo.avatar ==null || userInfo.avatar ==''" src="/Content/img/boy-512.png">
                        <span class="label label-default">15 Xu</span>
                        <span class="label label-default">400 Point</span>
                    </div>
                    <div class="user-info-desc col-lg-8 col-sm-8 col-xs-8 no-padding">
                        <strong class="user-info-name">{{userInfo.fullName}}</strong>
                        <div class="user-info-address"><i style="margin-right:5px;" class="fa fa-map-marker"></i>{{userInfo.address}}</div>
                        <div class="user-info-address"><i style="margin-right:5px;" class="fa fa-phone"></i>{{userInfo.phoneNumber}}</div>
                        <div class="user-info-address"><i style="margin-right:5px;" class="fa fa-inbox"></i>{{userInfo.email}}</div>
                        <div class="user-info-address"><i style="margin-right:5px;" class="fa fa-university"></i>{{userInfo.userName}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile-userbuttons">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success  btn-sm btn-block" type="button"><i class="fa fa-envelope"></i> Gửi tin nhắn</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-warning btn-sm btn-block" type="button"><i class="fa fa-coffee"></i> Nạp tiền</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover no-margin">
                        <tbody>
                            <tr>
                                <td>Trạng thái</td>
                                <td><span class="notice notice-danger">{{userInfo.userName}}</span></td>
                            </tr>
                            <tr>
                                <td>Hạng</td>
                                <td><i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i></td>
                            </tr>
                            <tr>
                                <td>Ngày đăng ký</td>
                                <td>{{userInfo.birthDay |date}}</td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="widget" style="margin-top:25px;">
                            <div class="widget-body">
                                <div class="streamline sl-style-2">
                                    <div class="sl-item sl-primary">
                                        <div class="sl-content">
                                            <small class="text-muted">5 mins ago</small>
                                            <p>Williams has just joined Project X</p>
                                        </div>
                                    </div>
                                    <div class="sl-item sl-danger">
                                        <div class="sl-content">
                                            <small class="text-muted">25 mins ago</small>
                                            <p>Jane sent you a request to grant access to the project folder</p>
                                        </div>
                                    </div>
                                    <div class="sl-item sl-success">
                                        <div class="sl-content">
                                            <small class="text-muted">40 mins ago</small>
                                            <p>Kate added you to her team</p>
                                        </div>
                                    </div>
                                    <div class="sl-item">
                                        <div class="sl-content">
                                            <small class="text-muted">55</small>
                                            <p>John has finished his task</p>
                                        </div>
                                    </div>
                                    <div class="sl-item sl-warning">
                                        <div class="sl-content">
                                            <small class="text-muted">60 mins ago</small>
                                            <p>Jim shared a folder with you</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xs-12">
                @{ Html.RenderAction("PVProfileHistory", "Profile"); }

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<style>
    .profile-block {
        background: #FFF;
        border-radius: 2px;
        border: 1px solid rgb(226, 235, 242) !important;
        margin: 20px 0;
        padding: 10px;
    }

    .media-user-avatar {
        margin-bottom: 10px;
    }

        .media-user-avatar .user-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border: 5px solid #eee;
            transition: all 0.2s ease-in-out;
        }

            .media-user-avatar .user-avatar:hover {
                border: 2px solid #eee;
                transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                /*-webkit-font-smoothing:antialiased;*/
            }

    .user-info-desc {
        color: #354C60;
        font-size: 12px;
    }

        .user-info-desc .user-info-name {
            color: #000;
            font-weight: 400;
            font-size: 16px;
            max-width: 88%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            -webkit-transition: color .1s ease-in-out;
            transition: color .1s ease-in-out;
        }

        .user-info-desc .user-info-address {
            color: rgba(53, 76, 96, 0.4);
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding: 5px;
        }

    .content-user-item {
        margin: 0 0 10px;
        border-radius: 2px;
        background: #fff;
        box-sizing: border-box;
        border: 1px solid rgb(226, 235, 242)
    }

        .content-user-item .content-item-title {
            padding: 12px 20px 10px;
            font-size: 16px;
            color: #4A6277;
            font-weight: normal;
        }

    .content-item-main {
    }

        .content-item-main:before {
            margin: 0 20px;
            content: '';
            border-top: 1px solid rgb(226, 235, 242);
            display: block;
        }

        .content-item-main .content-item-information {
            padding: 0 20px 20px;
        }

    .content-item-panel {
        padding: 10px 0;
        font-size: 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .content-item-panel .content-item-panel-txt {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            color: rgba(53, 76, 96, 0.8);
        }

    .table-thead {
        border-left: 1px solid #E2EBF2;
        border-right: 1px solid #E2EBF2;
        border-top: 1px solid #E2EBF2;
        background: rgba(226, 235, 242, 0.3);
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

        .table-thead th {
            font-weight: normal;
        }

    .table-body {
        border-top: 1px solid #f0f1f4;
        border-left: 1px solid #f0f1f4;
        border-right: 1px solid #f0f1f4;
        overflow: hidden;
        font-size: 12px;
    }

        .table-body tr {
            background: transparent;
            border-bottom: 1px solid #E2EBF2;
        }
</style>
<style>
    .text-warning {
        color: #fbbc05 !important;
    }

    .required-text {
        color: #ff0000;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .profile-userbuttons .btn {
            margin-bottom: 5px;
        }

        .profile-userbuttons button {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
        }

    .btn.aqua:not(.btn-outline) {
        color: #FFF;
        background-color: #49b6d6;
        border-color: #49b6d6;
    }


    .streamline .sl-item {
        position: relative;
        padding-bottom: 12px;
        border-left: 1px solid #ccc;
    }

    .streamline.sl-style-2 .sl-item:before {
        top: 6px;
        background-color: #fff;
        width: 11px;
        height: 11px;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
    }

    .streamline .sl-item:before {
        content: '';
        position: absolute;
        left: -6px;
        top: 0;
        background-color: #ccc;
        width: 12px;
        height: 12px;
        border-radius: 100%;
    }

    .streamline .sl-item .sl-content {
        margin-left: 24px;
    }

    .streamline .sl-item .text-muted {
        color: rgba(0,0,0,.38) !important;
        opacity: .6;
    }

    .streamline .sl-item p {
        margin-bottom: 10px;
    }

    .streamline .sl-primary:before, .streamline .sl-primary:last-child:after {
        background-color: #188ae2;
    }

    .streamline.sl-style-2 .sl-primary:before, .streamline.sl-style-2 .sl-primary:last-child:after {
        border-color: #188ae2;
    }

    .streamline .sl-primary {
        border-left-color: #188ae2;
    }

    .streamline .sl-danger {
        border-left-color: #ff5b5b;
    }

    .streamline.sl-style-2 .sl-danger:before, .streamline.sl-style-2 .sl-danger:last-child:after {
        border-color: #ff5b5b;
    }

    .streamline .sl-danger:before, .streamline .sl-danger:last-child:after {
        background-color: #ff5b5b;
    }

    .streamline .sl-success {
        border-left-color: #10c469;
    }

    .streamline.sl-style-2 .sl-success:before, .streamline.sl-style-2 .sl-success:last-child:after {
        border-color: #10c469;
    }

    .streamline .sl-success:before, .streamline .sl-success:last-child:after {
        background-color: #10c469;
    }

    .streamline .sl-warning {
        border-left-color: #f9c851;
    }

    .streamline.sl-style-2 .sl-warning:before, .streamline.sl-style-2 .sl-warning:last-child:after {
        border-color: #f9c851;
    }

    .streamline .sl-warning:before, .streamline .sl-warning:last-child:after {
        background-color: #f9c851;
    }




    .element-box, .invoice-w, .big-error-w {
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
    }
</style>