
<div ng-controller="PVProfileHistoryController">
    <div class="content-user-infomation">
        <div class="content-user-item">
            <div class="content-item-title">
                <div class="oplog-title__txt">CÁC TIN ĐÃ ĐĂNG</div>
            </div>
            <div class="content-item-main">
                <div class="content-item-information">
                    <div class="content-item-panel"><div class="content-item-panel-txt">Danh sách các tin bạn đã đăng trên hệ thống của Bizland.vn</div></div>
                    <div class="content-item-data">
                        <table class="table table-hover no-margin">
                            <thead class="table-thead">
                                <tr>
                                    <th>Tiêu đề</th>
                                    <th>Danh mục</th>
                                    <th>Lượt xem</th>
                                    <th>Giá tiền</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr dir-paginate="item in data.lstRoomByUser | itemsPerPage: pageSize" pagination-id="roomByuser" total-items="totalCount" current-page="roomCurrentPage">
                                    <td style="width:40%">{{item.roomName}}</td>
                                    <td>{{item.roomTypeName}}</td>
                                    <td>{{item.viewCount}}</td>
                                    <td>{{item.price |number}}</td>
                                    <td><span ng-if="item.status" class="label label-success">Đã duyệt</span><span ng-if="!item.status" class="label label-info">Chờ duyệt</span></td>
                                    <td>
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Click để Hiển thị (or) Ẩn với mọi người">
                                            <i class="fa fa-eye green" aria-hidden="true"></i>
                                        </a>&nbsp;
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Sửa thông tin">
                                            <i class="fa fa-pencil orange" aria-hidden="true"></i>
                                        </a>&nbsp;
                                        <a href="" data-toggle="tooltip" data-placement="top" title="Xóa vĩnh viễn tin này">
                                            <i class="fa fa-trash orange" aria-hidden="true"></i>
                                        </a>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls boundary-links="true"
                                                 pagination-id="roomByuser"
                                                 on-page-change="pageRoomByUserChanged(newPageNumber)"
                                                 template-url="~/app/shared/directives/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-user-infomation">
        <div class="content-user-item">
            <div class="content-item-title">
                <div class="oplog-title__txt">LỊCH SỬ ĐĂNG NHẬP</div>
            </div>
            <div class="content-item-main">
                <div class="content-item-information">
                    <div class="content-item-panel"><div class="content-item-panel-txt">Kiểm tra 3 lần đăng nhập mới nhất. Hãy thay đổi mật khẩu ngay nếu bạn thấy có sự khác thường.</div></div>
                    <div class="content-item-data">
                        <table class="table table-hover no-margin">
                            <thead class="table-thead">
                                <tr>
                                    <th>Ngày Tháng</th>
                                    <th>IP</th>
                                    <th>Nguồn</th>
                                    <th>Mô tả</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr dir-paginate="item in data.lstHistoryLogin | itemsPerPage: pageSize" pagination-id="historylogin" total-items="totalHistoryCount" current-page="historyCurrentPage">
                                    <td>{{item.createdDate |date}}</td>
                                    <td>{{item.ipAddress}}</td>
                                    <td>Web</td>
                                    <td>{{item.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls boundary-links="true"
                                                 pagination-id="historylogin"
                                                 on-page-change="pageHistoryLoginChanged(newPageNumber)"
                                                 template-url="~/app/shared/directives/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>