
<div class="content-user-infomation" block-ui="BlockUIChangePas" ng-controller="PVProfileChangePasswordController">
    <div class="content-user-item">
        <div class="content-item-title">
            <div class="oplog-title__txt">Thay đổi mật khẩu</div>
        </div>
        <div class="content-item-main">
            <div class="content-item-information">
                <div class="content-item-panel"><div class="content-item-panel-txt">Vui lòng điền đầy đủ tất cả các mục có dấu <i class="required">*</i></div></div>
                <div class="content-item-data">
                    <div class="form-horizontal form-profile" id="form-changepass">
                        <label class="text-danger">{{message}}</label>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mật khẩu cũ <span class="required-text">*</span></label>
                            <div class="col-md-6">
                                <input type="password"
                                       name="oldPassword"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Hãy nhập mật khẩu cũ"
                                       placeholder="Mật khẩu cũ"
                                       ng-model="userInfochangepass.oldPassword"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mật khẩu mới <span class="required-text">*</span></label>
                            <div class="col-md-6">
                                <input type="password"
                                       name="newPassword"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Hãy nhập mật khẩu mới"
                                       placeholder="Mật khẩu mới"
                                       ng-model="userInfochangepass.newPassword"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nhập lại mật khẩu <span class="required-text">*</span></label>
                            <div class="col-md-6">
                                <input type="password"
                                       name="confirmPassword"
                                       data-fv-identical="true"
                                       data-fv-identical-field="newPassword"
                                       data-fv-identical-message="Mật khẩu mới không giống nhau"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Nhập lại mật khẩu mới"
                                       ng-model="userInfochangepass.confirmPassword"
                                       class="form-control" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <button type="button" class="button-orange" ng-click="ChangePassword();"><i class="fa fa-refresh"></i> Cập nhập</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>